{% load static %}
<!doctype html>
<html lang="en">

 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mama's Kitchen | Update</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'dashboard/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">

<style>
    .mas {
        font-style: italic;
    }

    .makit {
        background-color: lightyellow;
    }

    .cboy {
        background-color: mintcream;
    }
</style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
         <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
       <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{% url 'menu' %}">Mama's Kitchen</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'dahboard/assets/images/avatar-2.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'dahboard/assets/images/avatar-3.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham</span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'dahboard/assets/images/avatar-4.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'dahboard/assets/images/avatar-5.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'dahboard/assets/images/github.png' %}" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'dahboard/assets/images/dribbble.png' %}" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'dahboard/assets/images/dropbox.png' %}" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'dahboard/assets/images/bitbucket.png' %}" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'dahboard/assets/images/mail_chimp.png' %}" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'dahboard/assets/images/slack.png' %}" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu Dashboard
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-fw fa-table"></i>Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboardupdate' %}"><i class="fas fa-fw fa-table"></i>Update Menu</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'customerdatabase' %}"><i class="fas fa-fw fa-table"></i>Customer Database</a>
                            </li>
                    
                            <li class="nav-divider">
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">{{user.username.title}}, welcome to Mama's Kitchen Dashboard</h2>
                            <p class="pageheader-text"></p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'dashboardupdate' %}" class="breadcrumb-link">Update Menu</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                
                <!--MORNING SECTION-->

                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="section-block" id="basicform">
                                </div>
                                <div class="card">
                                    <h3 class="card-header">Morning Menu Entry Form</h3>
                                    <h5 class="container">You can add your morning menu here</h5>
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token%}
                                            <div class="form-group">
                                                <label for="inputText3" class="col-form-label">Food Type</label>
                                                <input type="text" name="food_type" placeholder="Food Type..." class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail">Price</label>
                                                <input type="text" name="price" placeholder="Price..." class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputText4" class="col-form-label">Description</label>
                                                <input type="text"  name="description" class="form-control" placeholder="Short description..."><br/>

                                                <div><input class="btn btn-success" type="submit" value="Submit"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <hr/>
                    <br/>

                {% for scab in sandry %}
                <div class="dashboard-short-list">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- shortable list  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 co-12">
                            <div>
                                <div><h4 class="card-header drag-handle"> Update existing menu - Morning </h4></div>
                            </div>
                            <section class="card card-fluid">
                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="item-2">
                                    <li class="list-group-item align-items-center drag-handle">
                                        <span class="drag-indicator"></span>
                                        <div><h3>{{forloop.counter}} | {{scab.food_type.title}} | N{{scab.price}}<br/><div class="mas"><h5>{{scab.description}}</h5></div></h3></div>
                                        
                                        <div class="btn-group ml-auto">
                                            <button class="btn btn-sm btn-outline-light"><a href="{% url 'updatemenuitem' scab.id %}">Edit</a></button>
                                            <button class="btn btn-sm btn-outline-light">
                                                <a href="{% url 'morningmenudelete' scab.id %}"><i class="far fa-trash-alt"></i></a>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    {% endfor %}
                <hr/>
                <hr/>
                <!--END OF MORNING SECTION---------------------------------->

                <!--AFTERNOON SECTION--------------------------------------->
                
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="section-block" id="basicform">
                        </div>
                        <div class="card">
                            <h3 class="card-header">Afternoon Menu Entry Form</h3>
                            <h5 class="container">You can add your afternoon menu here</h5>
                            <div class="card-body">
                                <div class="makit">
                                    <form method="POST">
                                    {% csrf_token%}
                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Food Type</label>
                                        <input type="text" name="food_typea" placeholder="Food Type..." class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail">Price</label>
                                        <input type="text" name="pricea" placeholder="Price..." class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText4" class="col-form-label">Description</label>
                                        <input type="text"  name="descriptiona" class="form-control" placeholder="Short description..."><br/>

                                        <div><input class="btn btn-success" type="submit" value="Submit"></div>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <hr/>
                <br/>

                {% for celic in follow %}
                <div class="dashboard-short-list">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- shortable list  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 co-12">
                            <div>
                                <div><h4 class="card-header drag-handle"> Update existing menu - Afternoon </h4></div>
                            </div>
                            <section class="card card-fluid">
                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="item-2">
                                    <li class="list-group-item align-items-center drag-handle">
                                        <span class="drag-indicator"></span>
                                        <div><h3>{{forloop.counter}} | {{celic.food_typea.title}} | N{{celic.pricea}}<div class="mas"><h5>{{celic.descriptiona}}</h5></div></h3></div>
                                        <div class="btn-group ml-auto">
                                            <button class="btn btn-sm btn-outline-light"><a href="{% url 'updatemenuafternoon' celic.id %}">Edit</a></button>
                                            <button class="btn btn-sm btn-outline-light">
                                                <a href="{% url 'afternoonmenudelete' celic.id %}"><i class="far fa-trash-alt"></i></a>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    {% endfor %}
                <hr/>
                <hr/>

                <!--END OF AFTERNOON SECTION------------------------------------->

                <!--EVENING SECTION--------------------------------------->
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="section-block" id="basicform">
                        </div>
                        <div class="card">
                            <h3 class="card-header">Evening Menu Entry Form</h3>
                            <h5 class="container">You can add your evening menu here</h5>
                            <div class="card-body">
                                <div class="cboy">
                                <form method="POST">
                                    {% csrf_token%}
                                    <div class="form-group">
                                        <label for="inputText3" class="col-form-label">Food Type</label>
                                        <input type="text" name="food_types" placeholder="Food Type..." class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail">Price</label>
                                        <input type="text" name="prices" placeholder="Price..." class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText4" class="col-form-label">Description</label>
                                        <input type="text"  name="descriptions" class="form-control" placeholder="Short description..."><br/>

                                        <div><input class="btn btn-success" type="submit" value="Submit"></div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <br/>

                {% for col in caliro %}
                <div class="dashboard-short-list">
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- shortable list  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 co-12">
                            <div>
                                <div><h4 class="card-header drag-handle"> Update existing menu - Evening </h4></div>
                            </div>
    
                            <section class="card card-fluid">
                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="item-2">
                                    <li class="list-group-item align-items-center drag-handle">
                                        <span class="drag-indicator"></span>
                                        <div><h3>{{forloop.counter}} | {{col.food_types.title}} | N{{col.prices}}<div class="mas"><h5>{{col.descriptions}}</h5></div></h3></div>
                                        <div class="btn-group ml-auto">
                                            <button class="btn btn-sm btn-outline-light"><a href="{% url 'updatemenuevening' col.id %}">Edit</a></button>
                                            <button class="btn btn-sm btn-outline-light">
                                                <a href="{% url 'eveningmenudelete' col.id %}"><i class="far fa-trash-alt"></i></a>
                                            </button> 
                        
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    {% endfor %}
                <hr/>
                <!--END OF EVENING SECTION------------------------------------->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2022 Concept. All rights reserved. Designed by <a href="">Techlod</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="{% url 'about' }">About</a>
                                <a href="{% url 'menu' %}">Menu</a>
                                <a href="{% url 'contact' %}">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'dashboard/assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/js/main-js.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/shortable-nestable/Sortable.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/shortable-nestable/sort-nest.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/shortable-nestable/jquery.nestable.js' %}"></script>
   
</body>
</html>