{% extends 'base.html' %}
{% load static %}




{% block content %}

<style>
  .xev {
    background-color: rgb(245, 182, 23);
    color: white;
    font-weight: 300;
    font-style: italic;
    padding: 4px 7px;
    font-size: 15px;
    border-radius: 15px;
    width: 30%
  }
</style>


{% if user.is_authenticated %}
<div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <h4> Hi {{user.username}}, welcome to our menu section</h4>
</div>

        <section id="menu" class="menu">
          <div class="container">
    
            <div class="section-title">
              <h2>Check our tasty <span>Menu</span></h2>
            </div>
            
            
            
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                  <li data-filter="*" class="filter-active">Show All</li>
                  <li data-filter=".filter-morning">Morning</li>
                  <li data-filter=".filter-afternoon">Afternoon</li>
                  <li data-filter=".filter-evening">Evening</li>
                </ul>
              </div>
            </div>
            
            <div class="row menu-container">
              {% for menu in sandry %}
              <div class="col-lg-6 menu-item filter-morning">
                <div class="menu-content">
                  <a href="#">{{menu.food_type.title}}</a><span>N{{menu.price}}</span>
                </div>
                <div class="menu-ingredients">
                  {{menu.description}}<br/>
                </div>
                <a href="{% url 'orderpagemorning' menu.id %}" class="xev">Order</a>
              </div>
              
              
              {% endfor %}

              {% for food in follow %}
              <div class="col-lg-6 menu-item filter-afternoon">
                <div class="menu-content">
                  <a href="#">{{food.food_typea.title}}</a><span>N{{food.pricea}}</span>
                </div>
                <div class="menu-ingredients">
                  {{food.descriptiona}}<br/>
                  <a href="" class="xev">Order</a>
                </div>
              </div>
              {% endfor %}

              {% for sos in caliro %}
              <div class="col-lg-6 menu-item filter-evening">
                <div class="menu-content">
                  <a href="#">{{sos.food_types.title}}</a><span>N{{sos.prices}}</span>
                </div>
                <div class="menu-ingredients">
                  {{sos.descriptions}}<br/>
                  <a href="#" class="xev">Order</a>
                </div>
              </div>
              {% endfor %}

    
          </div>
        </section>
            <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Place an <span>Order</span></h2>
          <p>You can place your orders here and we will have it delivered to you in no time.</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Place Order</button></div>
        </form>
        
      </div>
    </section><!-- End Book A Table Section -->

    {% else %}
    <br/>
<br/>
<br/>
<br/>
<br/>
<br/>

    <div class='container'>
      <div>
        <p>
        <h4>Please you have to login or register to view the menu and place an order.
          This will help us serve you better.
        </h4>
          <a href="{% url 'logins' %}" class="vik"> Login</a> | <a href="{% url 'register' %}" class="vik"> Register</a>
      </p>
      </div>
      <div></div>
    </div>
    {% endif %}
    
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><br/>

{% endblock %}